{% comment %} {% load static %}
<div class="features_items">
    <!--features_items-->
    <h2 class="title text-center">Features Items</h2>
    {{product}}
    {% if product %}
    {% for product in product %}{{ product }}
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-product">
                <div class="productinfo text-center">
                    <img src="{{ product.photo_main.url }}" alt="{{ product.tittle }}" />
                    <h2>{{ product.price }}UAH</h2>
                    <p>{{ product.tittle }}</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <h2>{{ product.sale }}UAH</h2>
                        <p>{{ product.tittle }}</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                            cart</a>
                    </div>
                </div>
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col-sm-4">
        <h3>No product found</h3>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            {% if product.has_other_page %}
            <ul>
                {% if product.has_previous %}
                <li>
                    <a href="?page={{product_previous_page_number}}">&laquo;</a>
                </li>
                {% else %}
                <li>
                    <a href="#">&laquo;</a>
                </li>
                {% endif %}
                {% for i in product.paginator.page_range %}
                {% if product.number == i %}
                <li class="active">
                    <a>{{1}}</a>
                </li>
                {% else %}
                <li class="active">
                    <a href="?page={{i}}">{{i}}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if product.has_next %}
                <li class="active">
                    <a href="?page={{product_next_page_number}}">&raquo;</a>
                </li>
                {% else %}
                <li class="active">
                    <a>&raquo;</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>  {% endcomment %}



  
{% load static %}
<div class="features_items">
  <!--features_items-->
  <h2 class="title text-center">Features Items</h2>
  {% if products %} {% for product in products %}
<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-product">
            <div class="productinfo text-center">
                <img src="{{ product.photo_main.url }}" alt="{{product.tittle}}" />
                <h2>${{ product.price }}</h2>
                <p>{{ product.tittle }}</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a >
            </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <h2>${{ product.sale }}</h2>
                        <p>{{ product.tittle }}</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li>
                    <a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-plus-square"></i>Add to compare</a>
                </li>
            </ul>
        </div>
    </div>
    {% endfor %} 
    {% else %}
        <div class="col-sm-4">
            <h3>No product found</h3>
        </div>
    {% endif %}
    <ul>
        <li class="page-item disabled">
            <a class="page-link">&laquo;</a>
        </li>
        {% for i in product.paginator.page_range %}
            {% if listings.number == i %}
                <li class="page-item active" >
                    <a  class="page-link">{{ i }}</a>
                </li>
            {% else %}
                <li class="page-item" >
                    <a href="?page={{i}}" class="page-link">{{ i }}</a>
                </li>
            {% endif %}

        {% endfor %}
        {% if listings.has_next %}
        <li class="page-item">
            <a href="?page={{ listings_next_page_number }}" class="page-link">&raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">&raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>
</div>

<!--features_items-->